body {
    background: linear-gradient(135deg, #204ca5, #4b0e5a);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    width: 400px;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }


  @media only screen and (max-width: 600px) {
    .todo-container{
        width: 300px;
    }
    #taskInput{
        width: 280px;
    }
    #dateInput{
        width: 280px;
    }
  }


  h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
  }


  .add{
    width: 380px;
  }

  .time-inputs {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .time-inputs label {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    font-size: 0.9rem;
    color: #ccc;
  }

  .from{
    display: flex;
    flex-direction: column;
  }
  .to{
    margin-right: 22px;
  }

  
  input, button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #555;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.6; 
  }


  
  button.delete-btn {
    background-color: #dc3545;
    width: 100px;
  }


  button.delete-btn:hover {
    background-color: #c82333;
  }
  
